@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");

.hero-page-img {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  font-weight: bold;
  font-size: 6rem;
  line-height: 7rem;
  color: #fff;
}
